aiohttp
async-timeout
attrs
brotlipy
ca-certificates
certifi
cffi
chardet
charset-normalizer
cryptography
discord.py
idna
libcxx
libffi
multidict
ncurses
openssl
pip
pycparser
pyopenssl
pysocks
python
python_abi
readline
requests
setuptools
six
sqlite
tk
typing-extensions
typing_extensions
tzdata
urllib3
wheel
xz
yarl
zlib
